# note that .gitignore will also stash local files
# to prevent them from being overwritten while checking out origin branches

~code_graveyard.R
.RData
.Rhistory
.RProj.user/
archive/
config.yml
data/
data.RData
servers/archive